/* style.css by Quentin J. Upshaw*/
html 
{
	background-color: #191716;
	color: #84596B;
	border: #191716;
	text-shadow: 0 0 3px #7b7b7b;
	min-width: 463px;
	zoom: 1.5;
}
body
{
    margin: auto;
    width: 463px;
}

p
{
	border: 1px solid black;
    font-size: larger;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #440D0F;
}
h1
{
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
	border-radius: 25px;
	background-color: #603A40;
	color: #AF9BB6;
}

h4
{
	position: relative;
	position: bottom;
    font-size: smaller;
    text-shadow: 0 0;
    color: #191716;
}
h4:hover
{
	color: black;
	text-shadow: 0 0 10px black;
}

/*
    tables
*/
table, th, td {
	background-color: #440D0F;
    border: 1px solid #603A40;
    padding: 10px;
	border-radius: 3px;
}

/*
    links
*/
a:link {
  color: #0aa;
}

a:visited {
  color: #58f;
}

a:hover
{
	text-shadow: 0 0 5px #5ff;
}

a:visited:hover {
  text-shadow: 0 0 5px #0af;
}

a:active {
  color: blue;
}

/*
    Special stuff
*/

hr
{
}