/* style.css by Quentin J. Upshaw*/
/*
    fonts 
*/
/**/
html 
{

	background-color: #191716;
	color: #84596B;
	border: #191716;
	text-shadow: 0 0 3px #7b7b7b;
	min-width: 463px;
	zoom: 1.5;
	font-family: 'Advent Pro', sans-serif;
}
body
{
    margin: auto;
    width: 463px;
}

p
{
    
	border: 1px solid black;
    font-size: larger;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #440D0F;
}
#bottomp
{
  margin-bottom: 50px;
}
h1
{
	
	font-family: 'Oswald', sans-serif;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    padding: 2px;
	border-radius: 30px;
	background-color: #603A40;
	color: #AF9BB6;
}

/*
    tables
*/
.onhover
{transition: transform 250ms;}
.onhover:hover
{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
table, th, td {
	background-color: #440D0F;
    border: 1px solid #603A40;
    padding: 10px;
	border-radius: 3px;
}
table{margin-top: 50px;}

/*
    links
*/
a:link {
  color: #0aa;
}

a:visited {
  color: #58f;
}

a:hover
{
	text-shadow: 0 0 5px #5ff;
}

a:visited:hover {
  text-shadow: 0 0 5px #0af;
}

a:active {
  color: blue;
}

/*
    Special stuff
*/